<% provide(:title, @room.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @room.name %>
      </h1>

      <% @room.messages.each do |m| %>
        <li>
            <%= m.user %> > <%= m.content %>
        </li>
      <% end %>

      <%= form_for Message.new do |f| %>
          <%= f.text_field :content, placeholder: "Write..."  %>
          <%= f.hidden_field :user, :value => session[:user_name] %>
          <%= f.hidden_field :room_id, :value => params[:id] %>
          <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>

    </section>
  </aside>
</div>